<div class="landing">
  <div class="dark-overlay landing-inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center landing-info">
          <h1 class="header">404 Error</h1>
          <p class="lead">Sorry the contact could not be found</p>
          <p>
            <%= link_to("Go back to your contacts", contacts_path , class:"btn btn-primary btn block") %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>