<div class="row">
  <div class="col-sm-12">
    <% if obj.errors.any? %>
      <div class="alert alert-danger">
        <h3>Please correct the following erros:</h3>
        <ul>
          <% obj.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end  %>
        </ul>
      </div>
    <% end %>
  </div>
</div>