<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "shared/sidebar" %>
    </div><!-- /.col-md-3 -->

    <div class="col-md-9">
      <% if @contacts.blank? %>
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-warning">
              <strong>Record not found.</strong>
            </div>
          </div> 
        </div>
      <% end %>

      <%= render "layouts/messages" if !flash.empty? %>

      <div class="panel panel-default">
        <table class="table">
          <%= render @contacts %>
        </table>            
      </div>

      <div class="text-center">
        <%= paginate @contacts %>
      </div>
    </div>
  </div>
</div>